{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Аккаунт</title>
    <link rel="stylesheet" href="{% static 'css/account_styles.css'%}" type="text/css">
</head>
<body>
    <h1>Мои статьи</h1>
    <table>
        <thead>
            <tr>
                <th>Название</th>
                <th>Текст</th>
                <th>Тема</th>
                <th>Дата создания</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for article in articles %}
                <tr>
                    <td><a href="/article/{{ article.id }}">{{ article.title }}</a></td>
                    <td>{{ article.text }}</td>
                    <td><a href="/articles/{{ article.topicId.title }}">{{ article.topicId.title }}</a></td>
                    <td>{{ article.date }}</td>
                    <td><a href="/delete-article/{{ article.id }}">Удалить</a></td>
                    <td><a href="/edit-article/{{ article.id }}">Изменить</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <a class="add-article-link" href="/add-article">Добавить статью</a>
    <p><a class="return-home" href="/">Вернуться на главную</a></p>
</body>
</html>