<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Account</title>
</head>
<body>
    <h1>Articles</h1>
    <table>
        <thead>
            <tr>
                <th>Title</th>
                <th>Text</th>
                <th>Topic</th>
                <th>Date Created</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for article in articles %}
                <tr>
                    <td>{{ article.title }}</td>
                    <td>{{ article.text }}</td>
                    <td>{{ article.topic }}</td>
                    <td>{{ article.date }}</td>
                    <td><a href="/delete-article/{{ article.id }}">Удалить</a></td>
                    <td><a href="/edit-article/{{ article.id }}">Изменить</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="/add-article">Добавить статью</a>
</body>
</html>