{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Панель администратора</title>
    <link rel="stylesheet" href="{% static 'css/admin_styles.css'%}" type="text/css">
</head>
<body>
    <h1>Пользователи</h1>
    <table>
        <thead>
            <tr>
                <th>Имя пользователя</th>
                <th>Email</th>
                <th>Суперпользователь</th>
                <th>Дата регистрации</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
                <tr>
                    <td>{{ user.username }}</td>
                    <td>{{ user.email }}</td>
                    <td>{{ user.is_superuser }}</td>
                    <td>{{ user.date_joined }}</td>
                    <td><a href="/delete-user/{{ user.username }}">Удалить</a></td>
                    <td><a href="/edit-user/{{ user.username }}">Изменить</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <form method="POST" action="/add-topic">
        {% csrf_token %}
        <div>
            <label for="id_topic"></label>
            <input type="text" name="title" required="" id="id_topic">
        </div>
        <input type="submit" value="Добавить тему" >
    </form>
    <p><a href="/">Вернуться на главную</a></p>
</body>
</html>