<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Articles by topic</title>
</head>
<body>
    <h1>Articles by topic {{ topic }}</h1>
    <table>
        <thead>
            <tr>
                <th>Title</th>
                <th>Text</th>
                <th>Topic</th>
                <th>Date Created</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for article in articles %}
                <tr>
                    <td><a href="/article/{{ article.id }}">{{ article.title }}</a></td>
                    <td>{{ article.text }}</td>
                    <td><a href="/articles/{{ article.topic }}">{{ article.topic }}</a></td>
                    <td>{{ article.date }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <p><a href="/">Вернуться на главную</a></p>
</body>
</html>