<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ article.title }}</title>
</head>
    <body>
        <p>{{ article.title }}</p>
        <p>{{ article.text }}</p>
        <td><a href="/articles/{{ article.topic }}">{{ article.topic }}</a></td>
        <p>{{ article.date }}</p>
        <p><a href="/profile/{{ article.userId.username }}">{{ article.userId.username }}</a></p>
        {% for comment in comments %}
            <p>{{ comment.text }} {{ comment.date }} <a href="/profile/{{ comment.userId.username }}">{{ comment.userId.username }}</a></p>
        {% endfor %}
        {% if user.is_authenticated %}
            <form method="POST" action="/add-comment/{{ article.id }}">
                {% csrf_token %}
                <div>
                    <label for="id_text"></label>
                    <input type="text" name="text" required="" id="id_text">
                </div>
                <input type="submit" value="Добавить комментарий" >
            </form>
        {% endif %}
    </body>
</html>