{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Статьи по теме</title>
    <link rel="stylesheet" href="{% static 'css/articles_by_topic_styles.css'%}" type="text/css">
</head>
<body>
    <h1>Статьи по теме: {{ topic }}</h1>
    <table>
        <thead>
            <tr>
                <th>Название</th>
                <th>Текст</th>
                <th>Тема</th>
                <th>Дата создания</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for article in articles %}
                <tr>
                    <td><a href="/article/{{ article.id }}">{{ article.title }}</a></td>
                    <td>{{ article.text }}</td>
                    <td><a href="/articles/{{ article.topicId.title }}">{{ article.topicId.title }}</a></td>
                    <td>{{ article.date }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <p><a href="/">Вернуться на главную</a></p>
</body>
</html>