{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Редактировать статью</title>
    <link rel="stylesheet" href="{% static 'css/edit_article_styles.css'%}" type="text/css">
</head>
<body>
    <form method="POST" action="/edit-article/{{ article.id }}">
        {% csrf_token %}
        <div>
            <label for="id_title">Название:</label>
            <input type="text" name="title" required="" id="id_title" value="{{ article.title }}">
        </div>
        <div>
            <label for="id_text">Текст:</label>
            <input type="text" name="text" required="" id="id_text" value="{{ article.text }}">
        </div>
        <div>
            <label for="topic-select">Тема:</label>
            <select name="topic_title" id="topic-select">
                <option value="{{ article.topicId.title }}">{{ article.topicId.title }}</option>
            </select>
        </div>

        <input type="submit" value="Сохранить">
    </form>
    <p><a href="/account">Вернуться на страницу аккаунта</a></p>
    <script>
        window.onload = function() {
          download();
        };

        function download() {
            let response = fetch(`http://127.0.0.1:8000/get-topics`, {
              method: "GET",
            })
            response.then(response => {
              return response.json();
            }).then(data => {
              const regex = /"title": "(.*?)"/g;

                let match;
                let titles = [];

                while ((match = regex.exec(data)) !== null) {
                    titles.push(match[1]);
                }

                let dropdown = document.getElementById(`topic-select`);
                for (let i = 0; i < titles.length; i++) {
                    if (titles[i] != `{{ article.topicId.title }}`) {
                        dropdown.innerHTML += `<option value="${titles[i]}">${titles[i]}</option>`
                    }
                }
                console.log(titles);
            }).catch(error => {
              console.error('Error:', error);
            });
        }
    </script>
</body>
</html>