<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Main</title>
</head>
<body>
    {% if user.is_authenticated %}
        <div>
            <a href="/account">{{ user.get_username }}</a>
            <form action="/logout">
                <input type="submit" value="logout"/>
            </form>
        </div>
    {% else %}
        <a href="/login">Войти в аккаунт</a>
    {% endif %}
    <h1>Articles</h1>
    <table>
        <thead>
            <tr>
                <th>Title</th>
                <th>Text</th>
                <th>Topic</th>
                <th>Date Created</th>
            </tr>
        </thead>
        <tbody>
            {% for article in articles %}
                <tr>
                    <td><a href="/article/{{ article.id }}">{{ article.title }}</a></td>
                    <td>{{ article.text }}</td>
                    <td>{{ article.topic }}</td>
                    <td>{{ article.date }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>