{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Главная страница</title>
    <link rel="stylesheet" href="{% static 'css/main_styles.css'%}" type="text/css">
</head>
<body>
    {% if user.is_authenticated %}
        {% if user.is_superuser %}
            <p><a href="/administrator">Панель администратора</a></p>
        {% endif %}
        <div>
            <a href="/account">{{ user.get_username }}</a>
            <form action="/logout">
                <input type="submit" value="Выйти"/>
            </form>
        </div>
    {% else %}
        <div class="link-box">
            <p><a href="/login">Войти в аккаунт</a></p>
        </div>
        <div class="link-box">
            <p><a href="/registration">Зарегистрироваться</a></p>
        </div>
    {% endif %}
    <h1>Статьи</h1>
    <table>
        <thead>
            <tr>
                <th>Название</th>
                <th>Текст</th>
                <th>Тема</th>
                <th>Дата создания</th>
                <th>Автор</th>
            </tr>
        </thead>
        <tbody>
            {% for article in articles %}
                <tr>
                    <td><a href="/article/{{ article.id }}">{{ article.title }}</a></td>
                    <td>{{ article.text }}</td>
                    <td><a href="/articles/{{ article.topicId.title }}">{{ article.topicId.title }}</a></td>
                    <td>{{ article.date }}</td>
                    <td><a href="/profile/{{ article.userId.username }}">{{ article.userId.username }}</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>